.rb-footer {
  background-color: #fbf4e2;
  margin-top: 40px;
}
.rb-footer-title {
  color: #463c74;
  font-family: 'McLaren', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin-bottom: 16px;
}

.rb-footer-title span {
  color: #b4d51e;
}

.rb-footer-subtitle {
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  color: #828282;
  font-weight: 400;
  position: relative;
  text-align: center;
  line-height: 23px;
  margin-top: 16px;
}
.rb-footer-navigation-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
  position: relative;
  line-height: 23px;
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
}

.rb-footer-company-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
  position: relative;
  line-height: 23px;
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
}
.rb-footer-links a:link,
a:visited,
a:active {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  color: #828282;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
}

.rb-footer-email,
.rb-footer-adress,
.rb-footer-adress2,
.rb-footer-rights {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  color: #828282;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
}

.rb-footer-rights {
  padding-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .rb-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .rb-footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 40px;
  }
  .rb-footer-links {
    list-style: none;
    text-align: left;
  }
}
