.rb-header {
  padding-top: 64px;
  margin-bottom: 28px;
}

.rb-header .rb-header-tittle {
  color: #463c74;
  font-family: 'McLaren', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  margin-bottom: 16px;
}

.rb-header .rb-header-tittle span {
  color: #b4d51e;
}

.rb-header-form {
  margin-bottom: 16px;
}

.rb-header-form fieldset {
  border-width: 0;
}

.rb-header-form .rb-form-group {
  position: relative;
}

.rb-header-form .rb-form-group .rb-input-control {
  width: 100%;
  height: 51px;
  background-color: #f8f7f5;
  border-width: 1px;
  border-style: solid;
  border-color: #f8f7f5;
  border-radius: 8px;
  color: rgba(70, 60, 116, 0.5);
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  padding: 14px 24px;
}

.rb-header-form .rb-form-group .rb-input-control::placeholder {
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  line-height: 23px;
  opacity: 1;
}

.rb-header-form .rb-form-group .rb-input-control:focus {
  border-color: #b4d51e;
}

.rb-header-form .rb-form-group .rb-submit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  height: 51px;
  border-width: 0;
  background-color: transparent;
  background-image: url('../images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  padding: 0;
}

.rb-header .rb-support-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.rb-header .rb-support-menu .rb-favorites,
.rb-header .rb-support-menu .rb-cart,
.rb-header .rb-support-menu .rb-language {
  width: 36px;
  height: 36px;
  position: relative;
  border-width: 0;
  background-color: transparent;
  font-family: 'Merriweather', sans-serif;
}

.rb-header .rb-support-menu .rb-favorites {
  background-image: url('../images/icon-heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 20px;
}

.rb-header .rb-support-menu .rb-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #b4d51e;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.rb-header .rb-support-menu .rb-cart span {
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
}

.rb-header .rb-support-menu .rb-language {
  color: #000;
  font-size: 18px;
}

.rb-header .rb-support-menu button:not(:last-of-type) {
  margin-right: 32px;
}

.rb-header .rb-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rb-header .rb-menu ul li {
  display: inline-block;
  list-style: none;
}

.rb-header .rb-menu ul li a {
  position: relative;
  color: rgba(70, 60, 116, 0.5);
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 11px;
  transition: color 0.2s ease-out;
}

.rb-header .rb-menu ul li a:hover {
  color: #463c74;
}

.rb-header .rb-menu ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #b4d51e;
  transform: scale(0);
  transition: transform 0.2s ease-out;
}

.rb-header .rb-menu ul li a:hover::before {
  transform: scale(1);
}

@media screen and (min-width: 1024px) {
  .rb-header .rb-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 60px;
  }

  .rb-header-form .rb-form-group .rb-input-control {
    width: 570px;
  }

  .rb-header .rb-menu ul {
    justify-content: center;
  }

  .rb-header .rb-menu ul li:not(:last-of-type) {
    margin-right: 35px;
  }
}
